@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
		box-sizing:border-box;		
}

body {
				background: url("bg-intro-desktop.png");
				background-color: #FF9093;
				width: 100%;
				height: 100%;	
				font: 'Poppins', sans-serif;	
				font-size: 16px;
}

main{
				width: 50%;
				align-items:center;
				display:flex;
				padding: 100px;
				margin: 20px;
}

#left-top{
				background: hsl(248, 32%, 49%);
				color: whitesmoke;
				margin:20px ;
                                margin-right:100px;
				padding: 10px;
				border-radius:7px ;
				border-bottom:5px solid #C75C63;
				
}

#left-bottom{
				background: white;
				padding: 10px;
				margin: 20px;
                                margin-right:100px;
				border-radius:7px ;
				border-bottom:5px solid #C75C63;
}

.white{
				font-weight:bold;			
}
#white{
				width: 350px;
				font-weight:500px ;
				text-align:center;
				
}

input{
				width: 350px;
				padding: 15px;
				margin: 5px;
				margin-left:20px ;
				margin-right:20px;
				background: transparent;
				border:1px solid grey;
				color:black ;
				border-radius: 3px;
}

button{
				width: 350px;
				text-align:center;
				padding: 15px;
				margin-top: 5px;
				background:hsl(154, 59%, 51%);
				color: whitesmoke;
				font-weight:500px;
				margin-left:20px ;
				margin-right:20px;
				border-radius: 3px;
				border:none;
				
}

#small{
				color: grey;
				font-size:10px ;
				text-align:center;
				margin-left:50px ;
				margin-bottom: 10px ;				
			
}

.red{
				font-weight:bold;
				color:  #FF9093;
}

placeholder{
				color:hsla(246, 25%, 80%, 1.5) ;
				font-weight: bold;
}

.right{
				background: transparent;
				border:none;
				font: poppins;
				color: whitesmoke;
				margin: 20px;
				padding: 10px;
}

h1, .p{
				width: 350px;
}

.p{
				width: 450px;
}

h1{
				font-weight: 1000px;		
}

@media screen and (max-width:1440px){
	main{
			        width: 50%;			
					
				}
}

@media screen and (max-width:375px){
		main{
			         width: 100%;
                                 Flex-direction:column;
		}		
}
